.divisao:before{
	border: none;
	background: url(../imagens/detalhe-filtros-ie.jpg) no-repeat center bottom;
	width: 26px;
	height: 19px;
	margin: 0 0 0 -13px;
	bottom: -15px;
}
li.divisao:before{
	bottom: -13px;
}
canvas{
	position: absolute;
	left: 50%;
	margin-left: -75px;
	margin-top: 70px;
}
table.circular{
	position: absolute;
	width: 100%;
	top: 290px;
}
.circular caption{
	position: absolute;
	top: -215px;
}
.idade tr{
	position: relative;
	padding: 0;
	width: 25%;
	margin: 0;
}
.idade td.valor{ 
	display: block; 
	position: absolute;
	left: 0; 
	top: 0; 
	height: 122px;
	width: 96px;
	padding: 0 0 0 0;
}
.idade td.variavel{
	display: block; 
	position: absolute; 
	left: 0; 
	width: 100%;
	background-color: #FFF;
}
.horizontal tr{
	border-left: none;
	border-bottom: 10px solid #FFF;
}

#graficoproblema tr, #graficoassunto tr{
	border-left: none;
}

#graficoproblema tr td:first-child{
    border-left: 5px solid #FCAF17;
}

#graficoassunto tr td:first-child{
    border-left: 5px solid #3C5C9A;
}

.horizontal tr td:first-child{
    background-color: #EEEEEE;
    padding: 0 0 0 5px;
}