/************* CSS RESET *************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************************************/

body{
	font-family: "Maven Pro", sans-serif;
	color: #636161;
	font-size: 0.625em;
}

.salto, .voltartopo{
	display: block;
	width: 250px;
	text-align: center;
	text-indent: -9999px;
}

.salto{
	position: absolute;
	top: -10px;
	left: 50%;
	z-index: 99;
	margin: 0 0 0 -125px;
	border-radius: 0 0 5px 5px;
}

.voltartopo{
	clear: both;
	height: 25px;
	line-height: 25px;
	margin: 0 auto;
	border-radius: 5px;
}

.salto:focus, .voltartopo:focus{
	text-indent: 0px;
	font-size: 1.8em;
	background-color: #415781;
	text-decoration: none;
	color: #FFF;
	padding: 3px 0;
	border: 1px solid #CCC;
}

table, tbody, th, td, tr{
	display: block;
}

table{
	width: 100%;
	font-size: 1.8em;
}

caption{
	display: block;
	width: 87%;
	text-align: left;
	font-size: 0.9em;
	font-style: italic;
	color: #636161;
	line-height: 130%;
}

thead{
	display: none;
}

.oculto{
	display: none;
}

.wrap{
	width: 1200px;
	margin: 0 auto;
	/*position: relative;*/
}

header.topo{
	background-color: #EEE;
	overflow: hidden;
	padding: 10px 0;
}

header a.logo{
	width: 201px;
	height: 45px;
	float: left;
	background-image: url(../imagens/logo-principal-menor.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-indent: -9999px;
}

header a.logo:focus{
	box-shadow: 0 0 10px 4px #415781;
}

.buscainterna{
	float: right;
	margin: 6px 55px 0 0;
	position: relative;
	width: 645px;
	height: 23px;
	background-color: #FFF;
	border-radius: 8px;
	padding: 3px;
	overflow: hidden;
	border: 2px solid #69A6C6;
}

.buscainterna label{
	display: inline-block;
	text-indent: -9999px;
	width: 0;
	height: 0;
}

.buscainterna input{
	border: none;
	padding: 0;
	width: 545px;
	height: 23px;
	font-size: 1.6em;
	color: #636161;
	background-color: #FFF;
	float: left;
}

.buscainterna button{
	border: none;
	display: block;
	float: right;
	font-size: 1.5em;
	line-height: 21px;
	border-radius: 5px;
	background-color: #3D5B99;
	color: #FFF;
	padding: 0;
	width: 80px
}

.buscainterna button:focus{
	box-shadow: 0 0 10px 4px #415781;
}

a.busca{
	display: none;
}

header a.ajuda{
	display: block;
	width: 36px;
	height: 45px;
	background-image: url(../imagens/fundo-ajuda-reclamacao.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 33px 33px;
	text-indent: -9999px;
	position: absolute;
	right: 0;
	top: 0;
}

header a.ajuda:focus{
	box-shadow: 0 0 10px 4px #415781;
}

h1{
	font-size: 4.5em;
	/*color: #85B93B;*/
	color: #2B8376;
	padding: 20px 0;
	height: 68px;
	width: 70%
}

h1 span{
	display: block;
	font-size: 0.5em;
}

.fundoheader{
	background-color: #415781;
	color: #FFF;
	position: relative;
	margin: 0 0 50px 0;
	width: 100%;
}

.fundoheader:after{
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -25px;
	width: 0px;
    height: 0px;
    border: solid 25px transparent;
    border-top: solid 25px #415781;
    border-bottom: none;
}

.fundoheader h2{
	font-size: 3em;
	text-align: center;
	height: 60px;
	line-height: 60px;
	background-image: url(../imagens/fundo-reclamacoes.png);
	background-repeat: no-repeat;
	background-position: 400px center;
	background-size: 40px 41px;
	position: relative;
}

.fundoheader h2 span{
	display: inline-block;
	text-indent: -9999px;
	font-size: 0.1em;
}

.divisao{
	display: block;
	position: relative;
	margin: 0 auto 5px auto;
}

.divisao:after{
	content: '';
	display: block;
	width: 96%;
	height: 2px;
	margin: 0 auto;
	background-color: #FFF;
}

.divisao:before{
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	bottom: -21px;
	margin: 0 0 0 -9px;
	background-color: #415781;
	width: 18px;
	height: 18px;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ie-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

li.divisao:before{
	bottom: -9px;
}

.filtros li{
	font-size: 2em;
	line-height: 50px;
	text-align: center;
}

.filtros li:first-child{
	padding: 12px 0 0 0;
}

.filtros a{
	color: #CED8E1;
	text-decoration: none;
	background-image: url(../imagens/icone-excluir.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 12px 12px;
	display: inline-block;
	padding: 0 0 0 20px;
	margin: 0 0 0 15px;
}

.filtros a:hover, .filtros a:focus{
	text-decoration: underline;
}

.infografico .boxmenor, .infografico .boxmaior{
	margin:0 1.666667% 38px 0;
	position: relative;
	border-bottom: 3px solid #76CCF3;
}

.nota{
	position: absolute;
	left: 50%;
	margin: 0 0 0 -600px;
	top: 5px;
	width: 1200px;
	height: 98px;
	font-size: 2em;
	color: #3D5B99;
	background-repeat: no-repeat;
	background-position: right bottom;
	text-align: right;
	background-size: auto 53px;
}

.a{
	background-image: url(../imagens/fundo-nota-a.jpg);
}

.b{
	background-image: url(../imagens/fundo-nota-b.jpg);
}

.c{
	background-image: url(../imagens/fundo-nota-c.jpg);
}

.d{
	background-image: url(../imagens/fundo-nota-d.jpg);
}

.e{
	background-image: url(../imagens/fundo-nota-e.jpg);	
}

.nota .valor{
	display: block;
	height: 53px;
	text-align: center;
	padding: 28px 0 0 1148px;
	font-size: 2.5em;
	font-weight: bold;
	color: #FF1C25;
	line-height: 90%;
}

.nota .valor span{
	display: inline-block;
	font-size: 0.1em;
	width: 1px;
	text-indent: -9999px;
	height: 0;
}

.nota .media{
	display: block;
	font-size: 0.8em;
	position: absolute;
	top: 25px;
	right: 0;
}

.boxpadrao h3{
	background-color: #2B8376;
	color: #FFF;
	width: 100%;
	text-align: center;
	font-size: 2.8em;
	padding: 4px 0 7px 0;
	margin: 0 0 26px 0;
	position: relative;
	height: 28px;
}

.boxpadrao h3:after{
	content: '';
	display: block;
	margin: 7px auto 0 auto;
	width: 0px;
    height: 0px;
    border: solid 21px transparent;
    border-top: solid 21px #2B8376;
    border-bottom: none;
}

.boxmenor{
	width: 32.166667%;
	height: 355px;
	float: left;
}

.boxmaior{
	width: 49%;
	float: left;
}

.infografico{
	position: relative;
}

.infografico .margembox{
	margin:0 0 38px 0;
}

.idade caption{
	width: 100%;
	margin: 0 0 30px 0;
}

.idade tbody{
	position: relative;
	overflow: hidden;
}

.idade tr{
	float: left;
	width: 23.225806451613%;
	margin: 0 0 0 2.258064516129%;
}

.idade tr:first-child{
	margin: 0 0 0 0;
}

.idade td{
	text-align: center;
}

.idade td.variavel{
	border-top: 2px solid #D2D2D2;
	background-color: #FFF;
}

.idade td.valor{
	background-image: url(../imagens/fundo-grafico-vertical.png); 
	background-repeat: no-repeat;
	background-position: center 122px;
	background-size: 75% 100%;
}

.idade tr td:first-child{
	height: 122px;
	color: #D91523;
	position: relative;
}

.circular{
	width: 87%;
	margin: 0 auto;
}

.circular caption{
	position: absolute;
	top: 65px;
}

.circular tbody{
	position: relative;
	overflow: hidden;
	margin: 0 0 0 0;
}

.sexo tbody{
	margin: 0 0 0 0;	
}

.circular tr{
	width: 50%;
	height: 55px;
	float: left;
	position: relative;
}

.circular td{
	right: 0;
}

.circular tr:first-child td{
	left: 0;
}

.circular td{
	position: absolute;
}

.circular td:first-child{
	bottom: 0;
}

.circular td.valor{
	top: 0;
	font-size: 2em;
}

.circular td.valor a{
	color: #D04800;
	text-decoration: none;
}

.circular td.valor a:hover, .circular td.valor a:focus{
	text-decoration: underline;
}

.circular tr:first-child td.valor a{
	color: #415781;
}

.boxsexo{
	background-image: url(../imagens/icone-masculino.png), url(../imagens/icone-feminino.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 14.943005181347% 160px, 84.84465020576132% 160px;
	background-size: 30px 62px, 30px 62px;
}

.horizontal tbody, .horizontal tr, .horizontal caption{
	width: 100%;
	overflow: hidden;
}

.horizontal caption{
	margin: 0 0 20px 0;
}

.horizontal tr{
	background-color: #EEE;
	margin: 0 0 10px 0;
	width: auto;
}

.horizontal td{
	height: 50px;
	line-height: 25px;
}

.horizontal tr td:first-child{
	width: 77.4%;
	float: left;
	font-size: 1.1em;
	background-image: url(../imagens/fundo-grafico-horizontal.png);
	background-repeat: no-repeat;
	background-position: -238px 0;
	background-size: 100% 100%;
	padding: 0 0 0 2.6%;
}

.horizontal tr td:first-child small{
	display: block;
	font-size: 0.8em;
}

.horizontal td.valor{
	width: 20%;
	float: right;
	font-size: 1.5em;
	text-align: center;
	color: #FFF;
	text-align: center;
	line-height: 50px;
}

#graficoproblema td.valor{
	background-color: #D04800;
}

#graficoproblema tr{
	border-left: 5px solid #D04800;
}

#graficoassunto td.valor{
	background-color: #415781;
}

#graficoassunto tr{
	border-left: 5px solid #415781;
}

canvas{
	display: block;
	margin: 90px auto 0 auto;
}

@media screen and (max-width:1399px) {
	.wrap{
		width: 980px;
	}
	.buscainterna{
		width: 594px;
	}
	.buscainterna input{
		width: 500px;
	}
	.fundoheader h2{
		background-position: 29% center;
	}
	.nota{
		width: 980px;
		margin: 0 0 0 -490px;
		padding: 0 0 0 0;
	}
	.nota .valor{
		padding: 28px 0 0 928px;
	}
	caption{
		line-height: 115%;
		font-size: 0.85em;
	}
}

@media screen and (max-width:1000px) {
	.wrap{
		width: 99%;
	}
	.nota{
		width: 99%;
		margin: 0 0 0 -49%;
	}
	.nota .valor{
		padding: 28px 0 0 94%;
	}
	.horizontal td.valor{
		font-size: 1.4em;
	}
}

@media screen and (max-width:950px) {
	.boxpadrao h3{
		font-size: 2em;
		line-height: 28px;
	}
	.circular{
		width: 96%;
	}
	.boxsexo{
		background-position: 9.943005181347% 160px, 89.84465020576132% 160px;
	}
	.horizontal td.valor{
		font-size: 1.3em;
	}
}

@media screen and (max-width:910px) {
	.buscainterna{
		width: 494px;
	}
	.buscainterna input{
		width: 400px;
	}
	.fundoheader h2 {
	    background-position: 25% center;
	}
	.idade tr {
	    background-size: 80% 100%;
	}
	.idade td.valor {
	    font-size: 0.9em;
	}
	.idade td.variavel {
	    font-size: 0.9em;
	    padding: 3px 0 0 0;
	}
}

@media screen and (max-width:830px) {
	.horizontal td.variavel{
		font-size: 1.1em;
	}
	.horizontal td.valor{
		font-size: 1.1em;
	}
	h1{
		font-size: 3.5em;
	}
}

@media screen and (max-width:800px) {
	.buscainterna{
		width: 294px;
	}
	.buscainterna input{
		width: 200px;
	}
	h1{
		width: 100%;
		height: 45px;
		text-align: center;
		padding: 20px 0;
		margin: 0 0 95px 0;
	}
	.nota{
		text-align: center;
		width: 390px;
		height: 95px;
		top: 72px;
		left: 50%;
		margin: 0 0 0 -195px;
	}
	.nota .valor{
		padding: 25px 0 0 338px;
	}
	.nota .media{
		width: 100%;
	}
	.fundoheader h2 {
	    background-position: 20% center;
	}
	.boxmenor{
		height: 370px;
	}
	.circular{
		padding: 15px 0 0 0;
	}
	caption{
		width: 100%;
	}
	.boxsexo{
		background-position: 6.943005181347% 160px, 93.84465020576132% 160px;
	}
}

@media screen and (max-width: 700px) and (min-width: 601px){
	.boxpadrao h3{
		font-size: 1.7em;
	}
	.circular caption{
		font-size: 0.8em;
	}
	.circular tr{
		height: 40px;
	}
	.circular td.variavel{
		font-size: 0.8em;
	}
	.circular td.valor{
		font-size: 1.4em;
	}
	.boxsexo{
		background: none;
	}
}

@media screen and (max-width: 600px){
	.wrap{
		width: 100%;
	}
	header.topo{
		position: relative;
		height: 40px;
	}
	header a.logo{
		width: 179px;
		height: 40px;
		position: absolute;
		left: 5px;
	}
	header a.ajuda{
		margin: 10px 0 0 0;
	}
	.buscainterna{
		display: none;
		float: none;
		width: 96%;
		margin: 3px auto 0 auto;
		padding: 3px 1%;
		position: relative;
		z-index: 2;
	}
	.buscainterna input{
		width: 73%;
	}
	.buscainterna button{
		width: 23%;
	}
	header a.ajuda{
		width: 30px;
		height: 40px;
		background-size: 24px 24px;
		background-image: url(../imagens/icone-ajuda-mob.png);
	}
	a.busca{
		display: block;
		width: 40px;
		height: 40px;
		text-indent: -99999px;
		position: absolute;
		z-index: 1;
		right: 30px;
		top: 10px;
		background-image: url(../imagens/icone-busca.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 24px 24px;
		cursor: pointer;
	}
	h1{
		font-size: 3em;
		padding: 15px 0;
		margin: 0 0 105px 0;
	}
	h1 small{
		display: block;
		font-size: 0.7em;
		line-height: 160%;
	}
	.fundoheader h2{
		text-align: right;
		font-size: 2.4em;
		background-size: 30px 31px;
		background-position: left center;
		width: 94%;
		height: 50px;
		line-height: 50px;
	}
	.fundoheader h2 span{
		display: none;
	}
	.nota{
		/*top: -200px;*/
	}
	.divisao:after{
		width: 100%;
	}
	.divisao:before{
		bottom: -12px;
	}
	.filtros li{
		
	}
	.filtros li a{
		text-align: center;
		display: block;
		font-size: 0.9em;
		position: relative;
		padding: 0 0 0 0;
		text-align: left;
		width: 94%;
		background-image: url(../imagens/icone-excluir-cel.png);
		background-position: right center;
		background-size: 22px 22px;
		margin: 0 auto;
	}
	.infografico .boxpadrao{
	    border-bottom: none;
	    margin:0 0 38px 0;
	    height: auto;
	}
	.boxpadrao h3{
		font-size: 2.8em;
		margin: 0 0 30px 0;
	}
	.boxmenor{
		width: 100%;
		height: 320px;
		float: none;
	}
	.boxmaior{
		width: 100%;
		float: none;
	}
	.idade h2{
		margin: 0 0 35px 0;
	}
	.circular{
		width: 92%;
		margin: -5px auto 0 auto;
	}
	.circular caption {
	    width: auto;
	}
	.idade caption {
		width: auto;
	}
	.boxsexo{
		background-position: 13.943005181347% 160px, 85.84465020576132% 160px;
	}
	.horizontal td.valor{
		font-weight: bold;
	}
}

@media screen and (max-width: 400px){
	.horizontal tr td.variavel{
		font-size: 1.1em;
		width: 75.4%;
	}
	.horizontal tr td.valor{
		font-size: 1em;
		width: 22%;
	}
}

@media screen and (max-width: 390px){
	.nota{
		width: 320px;
		left: 50%;
		/*top: -190px;*/
		margin: 0 0 0 -160px;
		background-size: auto 43px;
		height: 80px;
	}
	.nota .valor{
		padding: 17px 0 0 277px;
		height: 43px;
		font-size: 2.3em;
	}
}

/*@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	header a.logo{
		background-image: url(../imagens/logo-principal-menor@2x.png);
	}
	a.busca{
		background-image: url(../imagens/icone-busca@2x.png);
	}
	header a.ajuda{
		background-image: url(../imagens/icone-ajuda-mob@2x.png);
	}
	.a{
		background-image: url(../imagens/fundo-nota-a@2x.jpg);
	}
	.b{
		background-image: url(../imagens/fundo-nota-b@2x.jpg);
	}
	.c{
		background-image: url(../imagens/fundo-nota-c@2x.jpg);
	}
	.d{
		background-image: url(../imagens/fundo-nota-d@2x.jpg);
	}
	.e{
		background-image: url(../imagens/fundo-nota-e@2x.jpg);	
	}
	.idade tr td:first-child{
		background-image: url(../imagens/fundo-grafico-vertical@2x.png); 
	}
	.boxsexo{
		background-image: url(../imagens/icone-masculino.png), url(../imagens/icone-feminino.png);
	}
	.horizontal tr td:first-child{
		background-image: url(../imagens/fundo-grafico-horizontal@2x.png);
	}
	.fundoheader h2{
		background-image: url(../imagens/fundo-reclamacoes@2x.png);
	}
	.filtros a{
		background-image: url(../imagens/icone-excluir@2x.png);
	}
}*/