html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
body{line-height:1;font-family:"Maven Pro", sans-serif;color:#797979;font-size:10px}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0;width:100%;font-size:1.8em}
caption{display:block;width:87%;text-align:left;font-size:.9em;font-style:italic;color:#AAA;line-height:130%}
.wrap{width:1200px;position:relative;margin:0 auto}
header.topo{background-color:#EEE;overflow:hidden}
header a.logo{width:201px;height:45px;float:left;background-image:url(../imagens/logo-principal-menor.png);background-position:0 0;background-repeat:no-repeat;background-size:100% 100%;text-indent:-9999px}
.buscainterna{float:right;position:relative;width:645px;height:23px;background-color:#FFF;border-radius:8px;overflow:hidden;border:2px solid #69A6C6;margin:6px 55px 0 0;padding:3px}
.buscainterna label{display:inline-block;text-indent:-9999px;width:0;height:0}
.buscainterna input{border:none;width:545px;height:23px;font-size:1.6em;color:#797979;background-color:#FFF;float:left;padding:0}
.buscainterna button{border:none;display:block;float:right;font-size:1.5em;line-height:21px;border-radius:5px;background-color:#3D5B99;color:#FFF;width:80px;padding:0}
a.busca{display:none}
header a.ajuda{display:block;width:36px;height:45px;background-image:url(../imagens/fundo-ajuda-reclamacao.png);background-repeat:no-repeat;background-position:center center;background-size:33px 33px;text-indent:-9999px;position:absolute;right:0;top:0}
h1{font-size:4.5em;color:#85B93B;width:70%;padding:20px 0}
h1 small{display:block;font-size:.5em}
.fundoheader{background-color:#3C5C9A;color:#FFF;position:relative;margin:0 0 50px}
.fundoheader:after{content:'';display:block;position:absolute;left:50%;width:0;height:0;border:solid 25px transparent;border-top:solid 25px #3C5C9A;border-bottom:none;margin:0 0 0 -25px}
.fundoheader h2{font-size:3em;text-align:center;height:60px;line-height:60px;background-image:url(../imagens/fundo-reclamacoes.png);background-repeat:no-repeat;background-position:400px center;background-size:40px 41px;position:relative}
.divisao{display:block;position:relative;margin:0 auto 5px}
.divisao:after{content:'';display:block;width:96%;height:2px;background-color:#FFF;margin:0 auto}
.divisao:before{content:'';display:block;position:absolute;left:50%;bottom:-11px;background-color:#3C5C9A;width:18px;height:18px;border-right:2px solid #FFF;border-bottom:2px solid #FFF;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ie-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);margin:0 0 0 -9px}
li.divisao:before{bottom:-9px}
.filtros li{font-size:2em;line-height:50px;text-align:center}
.filtros a{color:#CED8E1;text-decoration:none;background-image:url(../imagens/icone-excluir.png);background-repeat:no-repeat;background-position:0 22px;background-size:12px 12px;display:inline-block;margin:0 0 0 15px;padding:0 0 0 20px}
.filtros a:hover,.filtros a:focus{text-decoration:underline}
.infografico section{position:relative;border-bottom:3px solid #76CCF3;margin:0 1.666667% 38px 0}
h2.nota{position:absolute;right:0;top:5px;width:390px;height:98px;font-size:2em;color:#3D5B99;background-repeat:no-repeat;background-position:right bottom;text-align:right;background-size:auto 53px}
h2.nota a{color:#3D5B99;text-decoration:none}
h2.a{background-image:url(../imagens/fundo-nota-a.jpg)}
h2.b{background-image:url(../imagens/fundo-nota-b.jpg)}
h2.c{background-image:url(../imagens/fundo-nota-c.jpg)}
h2.d{background-image:url(../imagens/fundo-nota-d.jpg)}
h2.e{background-image:url(../imagens/fundo-nota-e.jpg)}
h2.nota span.valor{display:block;height:53px;text-align:center;font-size:2.5em;font-weight:700;color:#FF1C25;line-height:90%;padding:28px 0 0 338px}
h2.nota span.media{display:block;font-size:.8em;position:absolute;top:25px;right:0}
.infografico section h3{background-color:#8DC63F;color:#FFF;width:100%;text-align:center;font-size:2.8em;position:relative;height:28px;margin:0 0 26px;padding:4px 0 7px}
.infografico section h3:after{content:'';display:block;width:0;height:0;border:solid 21px transparent;border-top:solid 21px #8DC63F;border-bottom:none;margin:7px auto 0}
.boxmenor{width:32.166667%;height:355px;float:left}
.boxmaior{width:49%;float:left}
section.margembox{margin:0 0 38px}
.linkdir,.linkesq{display:block;text-indent:-999999px;width:50%;height:316px;position:absolute;bottom:0}
.linkdir{right:0}
.idade caption{width:100%;margin:0 0 30px}
.idade tbody{position:relative;overflow:hidden}
.idade tr{float:left;width:23.2258064516%;margin:0 0 0 2.25806451613%}
.idade td{text-align:center}
.idade td.variavel{border-top:2px solid #D2D2D2;background-color:#FFF}
.idade td.valor{background-image:url(../imagens/fundo-grafico-vertical.png);background-repeat:no-repeat;background-position:center 122px;background-size:75% 100%}
.idade tr td:first-child{height:122px;color:#D91523;position:relative}
.circular{width:87%;margin:0 auto}
.circular caption{position:absolute;top:65px}
.circular tbody{position:relative;overflow:hidden;margin:0}
.circular tr{width:50%;height:55px;float:left;position:relative}
.circular td{right:0;position:absolute}
.circular tr:first-child td{left:0}
.circular td:first-child{bottom:0}
.circular td.valor{top:0;color:#FCAF17;font-size:2em}
.sexo td.valor{color:#FF2626}
.circular tr:first-child td.valor{color:#3C5C9A}
a.mas{background-image:url(../imagens/icone-masculino.png);background-repeat:no-repeat;background-position:26.9430051813% 160px;background-size:30px 62px}
a.fem{background-image:url(../imagens/icone-feminino.png);background-repeat:no-repeat;background-position:72.8446502058% 160px;background-size:30px 62px}
.horizontal tbody,.horizontal tr,.horizontal caption{width:100%;overflow:hidden}
.horizontal caption{margin:0 0 20px}
.horizontal tr{background-color:#EEE;width:auto;margin:0 0 10px}
.horizontal td{height:50px;line-height:25px}
.horizontal tr td:first-child{width:77.4%;float:left;font-size:1.1em;background-image:url(../imagens/fundo-grafico-horizontal.png);background-repeat:no-repeat;background-position:-238px 0;background-size:100% 100%;padding:0 0 0 2.6%}
.horizontal tr td:first-child small{display:block;font-size:.8em}
.horizontal td.valor{width:20%;float:right;font-size:1.5em;color:#FFF;text-align:center;line-height:50px}
#graficoproblema td.valor{background-color:#FCAF17}
#graficoproblema tr{border-left:5px solid #FCAF17}
#graficoassunto td.valor{background-color:#3C5C9A}
#graficoassunto tr{border-left:5px solid #3C5C9A}
canvas{display:block;margin:90px auto 0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,table,tbody,th,td,tr{display:block}
.idade tr:first-child,.sexo tbody{margin:0}
@media screen and max-width1199px {
.wrap{width:980px}
.buscainterna{width:594px}
.buscainterna input{width:500px}
.fundoheader h2{background-position:29% center}
caption{line-height:115%;font-size:.85em}
}
@media screen and max-width1000px {
.wrap{width:99%}
.horizontal td.valor{font-size:1.4em}
}
@media screen and max-width950px {
.infografico section h3{font-size:2em;line-height:28px}
.circular{width:96%}
a.mas{background-position:21.943% 160px}
a.fem{background-position:77.8447% 160px}
.horizontal td.valor{font-size:1.3em}
}
@media screen and max-width910px {
.buscainterna{width:494px}
.buscainterna input{width:400px}
.fundoheader h2{background-position:25% center}
.idade tr{background-size:80% 100%}
.idade td.valor{font-size:.9em}
.idade td.variavel{font-size:.9em;padding:3px 0 0}
}
@media screen and max-width830px {
.horizontal td.variavel,.horizontal td.valor{font-size:1.1em}
}
@media screen and max-width800px {
.buscainterna{width:294px}
.buscainterna input{width:200px}
h1{width:100%;text-align:center;padding:20px 0}
h2.nota{position:relative;text-align:center;height:95px;margin:10px auto 15px}
h2.nota span.valor{padding:25px 0 0 338px}
.fundoheader h2{background-position:20% center}
.boxmenor{height:370px}
.circular{padding:15px 0 0}
a.mas{background-position:11.943% 160px}
a.fem{background-position:87.8447% 160px}
h2.nota span.media,caption{width:100%}
}
@media screen and max-width 600px {
header.topo{position:relative;height:40px}
header a.logo{width:179px;height:40px;position:absolute;left:5px}
.buscainterna{display:none;float:none;width:96%;position:relative;z-index:2;margin:3px auto 0;padding:3px 1%}
.buscainterna input{width:73%}
.buscainterna button{width:23%}
header a.ajuda{width:30px;height:40px;background-size:24px 24px;background-image:url(../imagens/icone-ajuda-mob.png)}
a.busca{display:block;width:40px;height:40px;text-indent:-99999px;position:absolute;z-index:1;right:30px;top:0;background-image:url(../imagens/icone-busca.png);background-repeat:no-repeat;background-position:center center;background-size:24px 24px}
h1{font-size:3em;padding:15px 0}
h1 small{display:block;font-size:.7em;line-height:160%}
.fundoheader h2{text-align:right;font-size:2.4em;background-size:30px 31px;background-position:left center;width:94%;height:50px;line-height:50px}
.divisao:before{bottom:-12px}
.filtros li{font-size:1.8em;position:relative;line-height:250%;text-align:left;width:94%;padding:0}
.filtros li a{display:block;position:absolute;top:50%;right:0;width:22px;height:22px;text-indent:-9999px;background-image:url(../imagens/icone-excluir-cel.png);background-position:right center;background-size:22px 22px;margin:-22px 0 0;padding:10px 0 10px 10px}
.infografico section{border-bottom:none;height:auto;margin:0 0 38px}
.infografico section h3{font-size:2.8em;margin:0 0 30px}
.boxmenor{width:100%;height:320px;float:none}
.boxmaior{width:100%;float:none}
.idade h2{margin:0 0 35px}
.circular{width:92%;margin:-5px auto 0}
.linkdir,.linkesq{height:305px}
a.mas{background-position:26.943% 81px}
a.fem{background-position:72.8447% 81px}
.horizontal td.valor{font-weight:700}
.wrap,.divisao:after{width:100%}
.circular caption,.idade caption{width:auto}
}
@media screen and max-width 400px {
.horizontal tr td.variavel{font-size:1.1em;width:75.4%}
.horizontal tr td.valor{font-size:1em;width:22%}
}
@media screen and max-width 390px {
h2.nota{width:320px;background-size:auto 43px;height:80px}
h2.nota span.valor{height:43px;font-size:2.3em;padding:17px 0 0 277px}
}
@media screen and -webkit-min-device-pixel-ratio 15,screen and min-device-pixel-ratio 15 {
header a.logo{background-image:url(../imagens/logo-principal-menor@2x.png)}
a.busca{background-image:url(../imagens/icone-busca@2x.png)}
header a.ajuda{background-image:url(../imagens/icone-ajuda-mob@2x.png)}
h2.a{background-image:url(../imagens/fundo-nota-a@2x.jpg)}
h2.b{background-image:url(../imagens/fundo-nota-b@2x.jpg)}
h2.c{background-image:url(../imagens/fundo-nota-c@2x.jpg)}
h2.d{background-image:url(../imagens/fundo-nota-d@2x.jpg)}
h2.e{background-image:url(../imagens/fundo-nota-e@2x.jpg)}
.idade tr td:first-child{background-image:url(../imagens/fundo-grafico-vertical@2x.png)}
a.mas{background-image:url(../imagens/icone-masculino@2x.png)}
a.fem{background-image:url(../imagens/icone-feminino@2x.png)}
.horizontal tr td:first-child{background-image:url(../imagens/fundo-grafico-horizontal@2x.png)}
.fundoheader h2{background-image:url(../imagens/fundo-reclamacoes@2x.png)}
.filtros a{background-image:url(../imagens/icone-excluir@2x.png)}
}