RewriteEngine On
#Redirecionamento de Buscas
RewriteCond %{QUERY_STRING} !=""
RewriteCond %{QUERY_STRING} ^pesquisa=([^/]*)$ [NC]
RewriteRule ^(.*)$ /pesquisa/%1? [R]
RewriteRule ^pesquisa/([^/]*)$ /resultados-busca.php?empresa=$1
RewriteRule ^pesquisa/([^/]*)/([^/]*)$ /resultados-busca.php?empresa=$1&pagina=$2
RewriteRule ^sitemap.xml$ /sitemap.php
ErrorDocument 404 /pagina-nao-encontrada.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ reclamacoes.php?empresa=$1 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/$ reclamacoes.php?empresa=$1 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ reclamacoes.php?empresa=$1&atendidas=$2 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ reclamacoes.php?empresa=$1&atendidas=$2 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ reclamacoes.php?empresa=$1&atendidas=$2&sexo=$3 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ reclamacoes.php?empresa=$1&atendidas=$2&sexo=$3 [QSA]
<filesMatch ".(js|php|css)$">
SetOutputFilter DEFLATE
</filesMatch>
ExpiresActive On
ExpiresDefault "access plus 1 month"
